<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Activity Creator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<div class="container-lg">
  <header th:insert="~{layouts/header}"/>
<form th:method="POST" th:object="${contribution}" th:action="@{/contributions}">
  <h3>Contribute </h3>
  <div class="mb-3">
    <label  for="amount" class="form-label">Amount</label>
    <textarea type="number" class="form-control" th:field="*{amount}" id="amount"/>
  </div>
  <select th:field="*{participant}" class="form-select" aria-label="participant">
    <option th:each="participant : ${activity.getParticipants()}"
            th:value="${participant.getId()}"
            th:text="${participant.getName()}"
    >Participant</option>
  </select>
  <button type="submit" class="btn btn-outline-dark">Contribute</button>
</form>
</div>
</body>
</html>